<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[${post.title}]] &ndash; DoomerHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<a data-th-href="@{/search/posts/list}">&larr; Поиск постов</a>
<h1 data-th-text="${post.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${post.id}"></span></li>
    <li><strong>Название</strong>: <span data-th-text="${post.title}"></span></li>
    <li><strong>Описание</strong>: <span data-th-text="${post.description}"></span></li>
</ul>
<a data-th-href="@{/search/posts/{postId}/edit(postId=${post.id})}">Изменить</a>
<form method="post" data-th-action="@{/search/posts/{postId}/delete(postId=${post.id})}">
    <button type="submit">Удалить</button>
</form>
</body>
</html>