<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей &ndash; DoomerHub</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Member</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="member : ${members}">
        <td data-th-text="${member.id}"></td>
        <td>
            <a data-th-href="@{/search/members/{memberId}(memberId=${member.id})}"
               data-th-text="${member.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>