<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${post.title}]] &ndash; Doomer Hub</title>
</head>
<body>
<a data-th-href="@{/author/posts/list}">&larr; К списку постов</a>
<h1 data-th-text="${post.title}"></h1>
<p data-th-text="${post.details}"></p>
<form method="post" data-th-action="@{/author/posts/{postId}/add-to-favourites(postId=${post.id})}"
      data-th-if="${!inFavourite}">
    <button type="submit">Добавить в избранное</button>
</form>
<form method="post" data-th-action="@{/author/posts/{postId}/remove-from-favourites(postId=${post.id})}"
      data-th-if="${inFavourite}">
    <button type="submit">Удалить из избранного</button>
</form>
<h2>Комментарии</h2>
<div data-th-if="${errors}">
    <h3></h3>
    <ul>
        <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/author/posts/{postId}/create-review(postId=${post.id})}">
    <label><input type="radio" name="rating" value="1"> 1</label>
    <label><input type="radio" name="rating" value="2"> 2</label>
    <label><input type="radio" name="rating" value="3"> 3</label>
    <label><input type="radio" name="rating" value="4"> 4</label>
    <label><input type="radio" name="rating" value="5"> 5</label>
    <br>
    <label>
        Комментарии:<br>
        <textarea name="review" data-th-text="$payload?.review"></textarea>
    </label><br>
    <button type="submit">Отправить комментарий</button>
</form>
<div data-th-each="review : ${reviews}">
    <h3>[[${review.rating}]]*</h3>
    <p data-th-text="${review.review}"></p>
</div>
</body>
</html>